.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 12px;
}
@media screen and (max-width:767px) {
  .container {
  width: 100% !important;
  margin: 0 auto;
  padding: 30px 12px !important;
}
}
.hero_section {
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/hero.jpg");
  background-color: rgba(50, 70, 80, 0.7);
 background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}
.hero_section h1 {
  color: #fff;
  text-align: left;
  border-bottom: 3px solid #10ac84;
  width: fit-content;
  font-weight: 700;
  font-size: 35px;
  text-transform: capitalize;
}
.featured_property_container{
background: #FAF8FB;
margin: 0 auto;
padding: 0px;
}